/* Google font assignment */

body {
    font-family: "Oswald", sans-serif;
    background-color: #2A53A280;
}

/* Header  Logo and Navigation Bar Links */

header {
    background-color: #2A53A2;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    float: left;
    width: 10%;
    margin: 0px;
    padding: 10px 20px 10px 15px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
}

#navh1 {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: justify;
}

/* background of nav bar*/
.navbar-custom {
    background-color: #2A53A2;
    
    
}
.btn.btn-primary.btn-lg{
    background-color: #c2d1ef;
    color:#2A53A2;
}
.btn:hover.btn-primary:hover.btn-lg {
    background-color: #c2d1ef;
}
.btn:hover.btn-primary:hover.btn-lg:hover{
    background-color: #C03832;
    text-align: center;
}
.nav-item {
    margin:0px 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
} 
.dropdown-menu.show{
    background-color: #3563c0;
    margin: 0px;
    padding: 0px;
}
.dropdown-menu {
    margin: 0px;
}
.dropdown-menu li{
    padding: 10px;
    text-align: center;
}
.dropdown-menu a{
    text-decoration: none;
    color: white;
}
.dropdown-menu li:hover{
    background-color: #C03832;
}
.dropdown-item:hover{
    background-image: none;
    background-color:#C03832; 

}
.button {
    background-color: #2A53A2;
    color: #fff;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    margin: 20px 10px 25px 0px;
}

.button:hover {
    background-color: #C03832;
}

.pbottom {
    margin-top: 500px;
}

/* Social Media */

.pbottom {
    margin-top: 500px;
}

/* Footer */

.footer {
    background-color: #2A53A2;
    color: #FFFFFF;
    text-align: center;
}

.footer h2 {
    padding-top: 20px;
    text-transform: uppercase;
    color: white;
}

.footer p {
    width: 30%;
    display: inline-block;
}

.container-fluid {
    padding: 0px;
}
.footer a{
    color: #fff;
    text-decoration: none;
}