
.contactform{
    width: 75%;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #FFFFFF85;
    font-size: 18px;
    margin: 0px 20px 20px 20px;
}
#CUH{
    color: #C03832;
    width: 25%;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    background-color: #FFFFFF85;
    margin: 20px 25px;
    text-align: center;
    font-size: 20px;
}
.contactform .cf-group{
    padding-bottom: 15px;
}

.contactform label{
    display: block;
}

.contactform .cf-group input[type="text"], .cf-group textarea{
    padding: 4px;
}
#cpgheader{
    padding-left: 40px;
}
.error{
    color: #C03832;
}