
.FAQtitle{
    width: 35%;
    color: #C03832;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF85;
}
.FAQ ul{
    width:auto;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    background-color: #FFFFFF85;
    font-size: 18px;
}
.FAQ h2{
    color: #C03832
}
.FAQ{
    background-color: #FFFFFF85;
    font-size: 18px;
}
.FAQimg img{
    border: 5px solid #C03832;
}
.col{
    border-radius: 20px;
}
