.mainhome {
    margin-top: 230px;
    height: auto;
}

.reservation{
    background-color: #FFFFFF85;
    border-radius: 20px;
    margin: 0px auto 20px;
    width: 90%;
}
.reservation h2{
    text-align: center;
    color: #C03832;
    padding-top: 20px;
    text-transform: uppercase;
}
.reservation h3{
    text-align: center;
    margin: auto 5%;
}
.col{
    text-align: center;
}

.col img{
    border: 5px solid #C03832;
    width: 75%;
    margin: 2%;
}
.col p{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 2%;
}
