/* Menu Pages */
#menuheader {
    background-color: #FFFFFF85;
    width: 30%;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin: 20px 60px;
    color: #C03832;
    text-align: center;
    text-transform: uppercase;
}

.to {
    background-color: #C03832;
    width: 90%;
    border-radius: 20px;
    padding: 2%;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.to h3 {
    text-align: center;
    text-transform: uppercase;
}

.menu {
    background-color: #FFFFFF85;
    border-radius: 20px;
    margin: 0px auto 20px;
    width: 90%;
}

.menu h2 {
    color: #C03832;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px 20px 0px;
}

.salad {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-left: 5%;
}

.col img {
    display: inline-block;
    vertical-align: top;
    margin: 0% 0% 5% 15%;
}

.col p {
    display: inline-block;
    vertical-align: top;
    width: 90%;
}
