
.card-img-top {
    width: 320px; 
    height: 200px;
    object-fit: cover;
}
#headerimg{
    width:100%;
    height:300px;
    object-fit: cover;
}
#headerimg, .card-title{
    color: #C03832
}
.merch-title{
    color: #C03832;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF85;
    width: fit-content;
    border-radius: 20px;
}
.card {
    min-height: 350px;
    background-color:  #c2d1ef;
}
.card-img-top.card-order{
    width: 100%;
    height: max-content;
}