/* Google font assignment */
body{
    font-family: "Oswald", sans-serif;
    background-color: #2A53A280;
}
/* Header  Logo and Navigation Bar Links */
header{
    background-color: #2A53A2;
    text-align: center;
    width: 100%;
}
ul{
    width: 50%;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    background-color: #FFFFFF85;
    font-size: 18px;
    margin: 0px 20px 20px 20px;
}
#logo{
    display: inline-block;
    padding: 20px 30px 20px 0px;
    vertical-align: middle;
}
h1{
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
}
.navlink{
    display: inline-block;
    width: 12%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF85;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 10px 25px 0px;
}
.navlink:hover{
    background-color: #C03832;
}
/* contact form css section (button class free use)*/
.contactform{
    width: 75%;
    padding: 40px 40px;
    border-radius: 20px;
    background-color: #FFFFFF85;
    font-size: 18px;
    margin: 0px 20px 20px 20px;
}
.contactform .cf-group{
    padding-bottom: 15px;
}
.contactform label{
    display: block;
}
.contactform .cf-group input[type="text"], .cf-group textarea{
    padding: 4px;
}
.button{
    background-color: #2A53A2;
    color:#fff;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    padding:15px;
    border: none;
    margin: 0px 10px 25px 0px;
}
.button:hover{
    background-color: #C03832;
}
.FAQ h2{
    padding-left: 40px;
}
/* want the images to float without overlaying the text divs*/
.FAQimg{
    width: 50%;
    padding:15px 15px 15px 40px;
    border-radius: 20px;
}
.FAQimg img{
    border-radius: 20px;
}